/* Define custom properties on the root element */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    
    /* Define custom font-family properties with new fonts */
    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Define custom font-size properties */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    /* Define custom font-weight properties */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/* All fonts in the html element should be at 62.5% of their normal size */
html {
    font-size: 62.5%;
    scroll-behavior: smooth; /* Keep the smooth scrolling from previous styles */
}

/* Any fonts in the body should have their size set to font-size-medium and font-weight-regular */
body {
    color: var(--text-color);
    font-family: var(--font-family-base); /* Apply updated font-family-base to body */
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular); /* Set boldness to regular */
}

/* Sets the foreground (text) color for all anchor (a) elements using the text-color variable */
a {
    color: var(--text-color);
}

/* Hides all elements with the class visually-hidden */
.visually-hidden {
    display: none;
}

/* Sets the foreground (text) color for elements with the class card-category using the color-primary variable */
.card-category {
    color: var(--color-primary);
}

/* Sets the foreground (text) color for elements with the class section-tagline using the color-primary variable */
.section-tagline {
    color: var(--color-primary);
}

/* Target all heading levels (h1 to h6) and set their font-family to font-family-title and font-weight to bold */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title); /* Apply updated font-family-title to headings */
    font-weight: var(--font-weight-bold); /* Set boldness to bold */
}
